#table {
    background-color: rgb(235, 235, 235);
    border-radius: 20px;
    height: 100%;
}

.table {
    thead > tr {
        background-color: gray;
    }

    tbody > tr {
        &:nth-child(2) {
            background-color: lightgoldenrodyellow;
        }
    }
}