.navbar-dropdown{
    padding-top: 0;
    padding-bottom: 0; 
    border-top-width: 0;
}
.navbar-divider{
    margin-top: 0; 
    margin-bottom: 0;
}
.navbar{
    z-index: 1000;
}
.drop-button{
    box-shadow: none;
    display: block; 
    width: 100%;
    background-color: white;
    border: 0rem;
    height: 100%;
    cursor: pointer;
    &:hover{background-color: #f0f1f5;}
}
.navbar-divider{
    height: 1px;
    background-color: black;
}